In [71]:
import pandas as pd
import numpy as np

In [72]:
df= pd.read_csv('loan_data.csv')

In [73]:
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
credit.policy        9578 non-null int64
purpose              9578 non-null object
int.rate             9578 non-null float64
installment          9578 non-null float64
log.annual.inc       9578 non-null float64
dti                  9578 non-null float64
fico                 9578 non-null int64
days.with.cr.line    9578 non-null float64
revol.bal            9578 non-null int64
revol.util           9578 non-null float64
inq.last.6mths       9578 non-null int64
delinq.2yrs          9578 non-null int64
pub.rec              9578 non-null int64
not.fully.paid       9578 non-null int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [75]:
purp= pd.get_dummies(df['purpose'],drop_first=True)

In [76]:
purp.head()

,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business
0,0,1,0,0,0,0
1,1,0,0,0,0,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,1,0,0,0,0,0

In [77]:
df=pd.concat([purp,df],axis=1)

In [78]:
df.head()

,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,0,1,0,0,0,0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,0,0,0,0,0,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,0,1,0,0,0,0,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,0,1,0,0,0,0,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,0,0,0,0,0,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [79]:
df.drop(['purpose'],axis=1).head()

,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,0,1,0,0,0,0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,0,0,0,0,0,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,0,1,0,0,0,0,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,0,1,0,0,0,0,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,0,0,0,0,0,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [80]:
df.corr()

,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
credit_card,1.000000,-0.326850,-0.075076,-0.103279,-0.085176,-0.102397,0.003216,-0.042109,0.000774,0.072942,0.084476,-0.012512,0.046220,0.072316,0.091321,-0.033640,-0.008817,0.014842,-0.047136
debt_consolidation,-0.326850,1.000000,-0.161698,-0.222441,-0.183451,-0.220542,0.020193,0.123607,0.161658,-0.026214,0.179149,-0.154132,-0.009318,0.005785,0.211869,-0.044240,-0.000697,0.026845,-0.017543
educational,-0.075076,-0.161698,1.000000,-0.051094,-0.042138,-0.050658,-0.031346,-0.019618,-0.094510,-0.119799,-0.035325,-0.013012,-0.042621,-0.034743,-0.053128,0.024243,-0.002214,-0.013521,0.021609
home_improvement,-0.103279,-0.222441,-0.051094,1.000000,-0.057967,-0.069687,0.006036,-0.050697,0.023024,0.116375,-0.092788,0.097474,0.068087,0.003258,-0.114449,0.043827,-0.013098,0.004704,0.007272
major_purchase,-0.085176,-0.183451,-0.042138,-0.057967,1.000000,-0.057472,0.024281,-0.068978,-0.079836,-0.031020,-0.077719,0.067129,-0.020561,-0.062395,-0.108079,-0.001445,0.004085,-0.011734,-0.028580
small_business,-0.102397,-0.220542,-0.050658,-0.069687,-0.057472,1.000000,-0.003511,0.151247,0.145654,0.091540,-0.069245,0.063292,0.034883,0.083069,-0.060962,0.042567,-0.004148,-0.005595,0.084460
credit.policy,0.003216,0.020193,-0.031346,0.006036,0.024281,-0.003511,1.000000,-0.294089,0.058770,0.034906,-0.090901,0.348319,0.099026,-0.187518,-0.104095,-0.535511,-0.076318,-0.054243,-0.158119
int.rate,-0.042109,0.123607,-0.019618,-0.050697,-0.068978,0.151247,-0.294089,1.000000,0.276140,0.056383,0.220006,-0.714821,-0.124022,0.092527,0.464837,0.202780,0.156079,0.098162,0.159552
installment,0.000774,0.161658,-0.094510,0.023024,-0.079836,0.145654,0.058770,0.276140,1.000000,0.448102,0.050202,0.086039,0.183297,0.233625,0.081356,-0.010419,-0.004368,-0.032760,0.049955
log.annual.inc,0.072942,-0.026214,-0.119799,0.116375,-0.031020,0.091540,0.034906,0.056383,0.448102,1.000000,-0.054065,0.114576,0.336896,0.372140,0.054881,0.029171,0.029203,0.016506,-0.033439
dti,0.084476,0.179149,-0.035325,-0.092788,-0.077719,-0.069245,-0.090901,0.220006,0.050202,-0.054065,1.000000,-0.241191,0.060101,0.188748,0.337109,0.029189,-0.021792,0.006209,0.037362
fico,-0.012512,-0.154132,-0.013012,0.097474,0.067129,0.063292,0.348319,-0.714821,0.086039,0.114576,-0.241191,1.000000,0.263880,-0.015553,-0.541289,-0.185293,-0.216340,-0.147592,-0.149666
days.with.cr.line,0.046220,-0.009318,-0.042621,0.068087,-0.020561,0.034883,0.099026,-0.124022,0.183297,0.336896,0.060101,0.263880,1.000000,0.229344,-0.024239,-0.041736,0.081374,0.071826,-0.029237
revol.bal,0.072316,0.005785,-0.034743,0.003258,-0.062395,0.083069,-0.187518,0.092527,0.233625,0.372140,0.188748,-0.015553,0.229344,1.000000,0.203779,0.022394,-0.033243,-0.031010,0.053699
revol.util,0.091321,0.211869,-0.053128,-0.114449,-0.108079,-0.060962,-0.104095,0.464837,0.081356,0.054881,0.337109,-0.541289,-0.024239,0.203779,1.000000,-0.013880,-0.042740,0.066717,0.082088
inq.last.6mths,-0.033640,-0.044240,0.024243,0.043827,-0.001445,0.042567,-0.535511,0.202780,-0.010419,0.029171,0.029189,-0.185293,-0.041736,0.022394,-0.013880,1.000000,0.021245,0.072673,0.149452
delinq.2yrs,-0.008817,-0.000697,-0.002214,-0.013098,0.004085,-0.004148,-0.076318,0.156079,-0.004368,0.029203,-0.021792,-0.216340,0.081374,-0.033243,-0.042740,0.021245,1.000000,0.009184,0.008881
pub.rec,0.014842,0.026845,-0.013521,0.004704,-0.011734,-0.005595,-0.054243,0.098162,-0.032760,0.016506,0.006209,-0.147592,0.071826,-0.031010,0.066717,0.072673,0.009184,1.000000,0.048634
not.fully.paid,-0.047136,-0.017543,0.021609,0.007272,-0.028580,0.084460,-0.158119,0.159552,0.049955,-0.033439,0.037362,-0.149666,-0.029237,0.053699,0.082088,0.149452,0.008881,0.048634,1.000000

In [87]:
df.drop(['home_improvement','not.fully.paid'],axis=1).head()

,credit_card,debt_consolidation,educational,major_purchase,small_business,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec
0,0,1,0,0,0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0
1,1,0,0,0,0,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0
2,0,1,0,0,0,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0
3,0,1,0,0,0,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0
4,1,0,0,0,0,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0

In [88]:
x= df.drop('not.fully.paid',axis=1)
y=df['not.fully.paid']

In [89]:
x

,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec
0,0,1,0,0,0,0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0
1,1,0,0,0,0,0,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0
2,0,1,0,0,0,0,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0
3,0,1,0,0,0,0,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0
4,1,0,0,0,0,0,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0
5,1,0,0,0,0,0,1,credit_card,0.0788,125.13,11.904968,16.98,727,6120.041667,50807,51.0,0,0,0
6,0,1,0,0,0,0,1,debt_consolidation,0.1496,194.02,10.714418,4.00,667,3180.041667,3839,76.8,0,0,1
7,0,0,0,0,0,0,1,all_other,0.1114,131.22,11.002100,11.08,722,5116.000000,24220,68.6,0,0,0
8,0,0,0,1,0,0,1,home_improvement,0.1134,87.19,11.407565,17.25,682,3989.000000,69909,51.1,1,0,0
9,0,1,0,0,0,0,1,debt_consolidation,0.1221,84.12,10.203592,10.00,707,2730.041667,5630,23.0,1,0,0
10,0,1,0,0,0,0,1,debt_consolidation,0.1347,360.43,10.434116,22.09,677,6713.041667,13846,71.0,2,0,1
11,0,1,0,0,0,0,1,debt_consolidation,0.1324,253.58,11.835009,9.16,662,4298.000000,5122,18.2,2,1,0
12,0,1,0,0,0,0,1,debt_consolidation,0.0859,316.11,10.933107,15.49,767,6519.958333,6068,16.7,0,0,0
13,0,0,0,0,0,1,1,small_business,0.0714,92.82,11.512925,6.50,747,4384.000000,3021,4.8,0,1,0
14,0,1,0,0,0,0,1,debt_consolidation,0.0863,209.54,9.487972,9.73,727,1559.958333,6282,44.6,0,0,0
15,0,0,0,0,1,0,1,major_purchase,0.1103,327.53,10.738915,13.04,702,8159.958333,5394,53.4,1,0,0
16,0,0,0,0,0,0,1,all_other,0.1317,77.69,10.522773,2.26,672,3895.958333,2211,88.4,0,0,0
17,1,0,0,0,0,0,1,credit_card,0.0894,476.58,11.608236,7.07,797,6510.958333,7586,52.7,1,0,0
18,0,1,0,0,0,0,1,debt_consolidation,0.1039,584.12,10.491274,3.80,712,2760.000000,8311,59.8,0,0,0
19,0,0,0,0,1,0,1,major_purchase,0.1513,173.65,11.002100,2.74,667,1126.958333,591,84.4,3,0,0
20,0,0,0,0,0,0,1,all_other,0.0800,188.02,11.225243,16.08,772,4888.958333,29797,23.2,1,0,0
21,0,0,0,0,0,0,1,all_other,0.0863,474.42,10.819778,2.59,797,11951.000000,5656,27.6,0,0,0
22,1,0,0,0,0,0,1,credit_card,0.1355,339.60,11.512925,7.94,662,1939.958333,21162,57.7,0,0,0
23,1,0,0,0,0,0,1,credit_card,0.0788,484.85,11.736069,7.05,782,5640.041667,16931,34.6,1,0,0
24,0,1,0,0,0,0,1,debt_consolidation,0.1229,320.19,11.264464,8.80,672,3760.958333,4822,58.1,0,0,1
25,0,0,0,0,0,0,1,all_other,0.0901,159.03,12.429216,10.00,712,1553.958333,14354,36.6,0,2,0
26,0,0,0,0,0,0,1,all_other,0.0743,155.38,11.082143,0.28,802,4649.958333,1576,5.7,1,0,0
27,0,1,0,0,0,0,1,debt_consolidation,0.1375,255.43,9.998798,14.29,662,1318.958333,4175,51.5,0,1,0
28,0,0,0,0,0,0,1,all_other,0.0743,155.38,12.206073,0.28,772,4516.958333,3164,13.7,0,0,0
29,0,0,0,0,0,0,1,all_other,0.0743,155.38,12.206073,3.72,812,6778.958333,85607,0.7,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9548,0,0,0,1,0,0,0,home_improvement,0.1607,87.99,10.778956,14.20,667,4080.000000,1530,36.4,7,0,0
9549,0,0,0,1,0,0,0,home_improvement,0.2164,729.70,11.877569,8.63,667,8280.041667,55442,66.9,9,0,1
9550,0,0,0,0,0,0,0,all_other,0.1459,137.86,10.085809,1.15,732,1230.041667,972,11.3,5,0,0
9551,0,0,0,1,0,0,0,home_improvement,0.1348,508.87,11.736069,16.85,707,7440.041667,206877,92.5,1,0,0
9552,0,1,0,0,0,0,0,debt_consolidation,0.1311,337.45,10.691945,23.62,702,3780.041667,6255,56.9,5,2,0
9553,0,1,0,0,0,0,0,debt_consolidation,0.1385,545.67,11.775290,10.80,697,4110.000000,197716,74.9,4,0,0
9554,0,0,0,0,0,1,0,small_business,0.1533,870.71,11.842229,16.16,707,4230.041667,56909,49.8,5,0,0
9555,0,0,0,1,0,0,0,home_improvement,0.1311,674.90,12.292250,9.94,717,5730.041667,39576,27.7,5,0,0
9556,0,1,0,0,0,0,0,debt_consolidation,0.1385,136.42,11.002100,18.18,677,3423.041667,15301,85.0,4,0,0
9557,1,0,0,0,0,0,0,credit_card,0.1025,466.35,12.206073,13.97,722,6120.041667,338935,78.3,2,0,0
9558,0,1,0,0,0,0,0,debt_consolidation,0.1533,696.57,11.805595,17.21,682,2790.041667,38578,86.9,4,0,0
9559,1,0,0,0,0,0,0,credit_card,0.1273,688.11,11.314475,21.13,732,5881.000000,35227,54.3,5,0,0
9560,0,0,0,0,0,0,0,all_other,0.1867,547.36,11.407565,15.76,667,10050.041670,13255,88.4,7,0,0
9561,0,0,0,0,0,0,0,all_other,0.0788,115.74,10.999095,10.17,722,4410.000000,11586,61.6,4,0,0
9562,0,1,0,0,0,0,0,debt_consolidation,0.1348,508.87,10.933107,17.76,717,3870.041667,8760,28.2,6,0,0
9563,0,1,0,0,0,0,0,debt_consolidation,0.1099,556.50,11.225243,17.84,727,6840.041667,18753,29.0,4,0,0
9564,0,0,0,0,0,0,0,all_other,0.1385,511.56,12.323856,12.33,687,6420.041667,385489,51.2,4,0,0
9565,0,0,0,0,0,0,0,all_other,0.1459,396.35,10.308953,21.04,697,3390.000000,26117,78.4,6,0,0
9566,0,0,0,0,0,0,0,all_other,0.2164,551.08,11.002100,24.06,662,1800.000000,16441,49.8,9,0,0
9567,0,0,0,0,0,0,0,all_other,0.1311,101.24,10.968198,8.23,687,2790.041667,1514,13.8,5,0,0
9568,0,0,0,0,0,0,0,all_other,0.1979,37.06,10.645425,22.17,667,5916.000000,28854,59.8,6,0,1
9569,0,0,0,1,0,0,0,home_improvement,0.1426,823.34,12.429216,3.62,722,3239.958333,33575,83.9,5,0,0
9570,0,0,0,0,0,0,0,all_other,0.1671,113.63,10.645425,28.06,672,3210.041667,25759,63.8,5,0,0
9571,0,0,0,0,0,0,0,all_other,0.1568,161.01,11.225243,8.00,677,7230.000000,6909,29.2,4,0,1
9572,0,1,0,0,0,0,0,debt_consolidation,0.1565,69.98,10.110472,7.02,662,8190.041667,2999,39.5,6,0,0
9573,0,0,0,0,0,0,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0
9574,0,0,0,0,0,0,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0
9575,0,1,0,0,0,0,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0
9576,0,0,0,1,0,0,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0
9577,0,1,0,0,0,0,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0

In [90]:
y

0       0
1       0
2       0
3       0
4       0
5       0
6       1
7       1
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
9548    1
9549    1
9550    0
9551    1
9552    0
9553    0
9554    0
9555    1
9556    0
9557    0
9558    0
9559    0
9560    0
9561    0
9562    0
9563    1
9564    0
9565    1
9566    1
9567    0
9568    0
9569    1
9570    1
9571    1
9572    1
9573    1
9574    1
9575    1
9576    1
9577    1
Name: not.fully.paid, Length: 9578, dtype: int64

In [93]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.3)

In [94]:

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
scaled_array = ss.fit_transform(x)

ValueError: could not convert string to float: 'debt_consolidation'

In [62]:
from sklearn.model_selection import train_test_split

In [64]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.3)

In [65]:
from sklearn.naive_bayes import GaussianNB

In [86]:
model = GaussianNB()

In [92]:
model.fit(x_train,y_train)

ValueError: could not convert string to float: 'small_business'